$box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;

$primary: #c6e6ec;
$secondary: #fddcef;
$backround: #e3c7df;
$secondary-dark: #dab2d3;
$primary-dark: #65c4d8;

$text-primary: #125d8b;
$text-secondary: #2a9bd7;

@mixin flex($jus, $al) {
  display: flex;
  justify-content: $jus;
  align-items: $al;
}

@mixin margin-top {
  margin-top: 8vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFont;
  src: url(../public/Montserrat-Regular.ttf);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

html,
body {
  font-family: myFont;
  background-color: $backround;

  // margin: 0 auto;
  scroll-behavior: smooth;
  // box-shadow: $box-shadow;
}
#notFound {
  margin: 0 auto;
}
.notFound {
  height: 80%;
}
///////////////////////HEADER//////////////////////////////////////////////////
#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 16vh;
  padding: 0.5% 0;
  @include flex(space-around, center);
  flex-direction: row;
  .logo {
    height: 100%;
    @include flex(space-around, center);
    .l {
      color: $text-primary;
      margin-left: 4%;
    }
    .ch {
      color: $text-secondary;
    }
    img {
      border-radius: 50%;
      height: 90%;
    }
  }
  .nav {
    width: 18%;
    @include flex(space-around, center);
    li a {
      color: $text-primary;
      font-weight: bold;
      font-size: large;

      &:hover {
        color: $text-secondary;
      }
    }
  }
  .navgap {
    gap: 13%;
  }
  h1 {
    font-size: 3.5rem;
  }
}
//////////////////////////////////////////////MAIN////////////////////////////////
#main {
  background-color: $backround;
  @include flex(flex-start, center);
  flex-direction: column;
  margin-top: 10vh;
  color: $text-primary;
  #proverb {
    color: $text-secondary;
    margin-top: 8%;
    @include flex(center, center);
    flex-direction: column;
    h2 {
      // text-shadow: 0.5px 0.5px rgb(1, 1, 1);
      font-style: italic;
      margin-bottom: 1%;
    }
    h4 {
      font-style: italic;
      font-weight: normal;
      // text-shadow: 0.5px 0.5px rgb(32, 31, 31);
    }
  }
  .sections {
    @include flex(flex-start, center);
    flex-direction: column;
    width: 80%;
    height: 100rem;

    p {
      text-shadow: 0.2px 0.2px rgb(81, 78, 78);
      line-height: 3.2rem;
      font-style: italic;
    }
    .section {
      @include flex(center, center);
      flex-direction: row;
      padding: 3%;
      width: 100%;
      height: 30%;
      gap: 5%;

      .img {
        @include flex(center, center);
        width: 100%;
        height: 100%;
      }
      img {
        box-shadow: $box-shadow;
        width: 100%;
        height: 60%;
        border-radius: 5%;
      }
      .paraf {
        height: 100%;
        @include flex(center, center);
        padding: 10%;
        font-size: 1.3rem;
        // font-weight: bolder;
        .l {
          color: $text-primary;
          font-weight: bold;
        }
        .ch {
          color: $text-secondary;
          font-weight: bold;
        }
      }
    }
  }
}
///////////////////////////////////////REGISTER//////////////////////////////////
#register {
  background-color: $backround;
  height: 100vh;
  @include flex(center, center);

  .form {
    // @include flex(center, center);
    @include margin-top;

    form {
      // @include margin-top;

      color: $text-primary;
      box-shadow: $box-shadow;
      padding: 5% 30%;
      background-color: white;
      border: 1px solid $text-primary;
      @include flex(center, center);
      gap: 1rem;
      flex-direction: column;
      border-radius: 3%;
      .error {
        display: none;
        color: red;
      }
      .errorM {
        color: red;
        font-size: 0.8rem;
      }
      .inputAll {
        gap: 15%;
        @include flex(center, center);
      }
      .input {
        @include flex(center, flex-end);
        flex-direction: column;
      }

      .formDiv {
        @include flex(center, center);
        margin: 6%;
        gap: 7%;
        input {
          height: 1.9rem;
          border-radius: 5%;
          border: 1px solid $text-primary;
        }
      }
      .submit {
        background-color: $text-primary;
        border: none;
        border-radius: 15%;
        padding: 10%;
        width: 5rem;
        height: 3rem;
        color: white;
        margin: 10%;
        &:hover {
          background-color: $text-secondary;
        }
      }
      a {
        .ch {
          color: $text-secondary;
        }

        .l {
          color: $text-primary;
          &:hover {
            color: $text-secondary;
          }
        }
      }
    }
  }
}
/////////////////////////////////////////LOGIN////////////////////////////////////
#login {
  background-color: $backround;
  height: 100vh;
  @include flex(center, center);

  .form {
    @include flex(center, center);
    @include margin-top;

    form {
      color: $text-primary;
      box-shadow: $box-shadow;
      padding: 20% 30%;
      background-color: white;
      border: 1px solid $text-primary;
      @include flex(center, center);
      flex-direction: column;
      border-radius: 3%;
      .error {
        display: none;
        color: red;
      }
      .inputAll {
        @include flex(center, center);
      }
      .input {
        @include flex(center, flex-end);
        flex-direction: column;
      }
      h2 {
        margin-bottom: 20%;
      }
      .formDiv {
        @include flex(center, center);
        margin: 6%;
        gap: 7%;
        input {
          height: 1.9rem;
          border-radius: 5%;
          border: 1px solid $text-primary;
        }
      }
      .submit {
        background-color: $text-primary;
        border: none;
        border-radius: 15%;
        padding: 10%;
        width: 5rem;
        height: 3rem;
        color: white;
        margin: 25%;
        &:hover {
          background-color: $text-secondary;
        }
      }
      a {
        .ch {
          color: $text-secondary;
        }

        .l {
          color: $text-primary;
          &:hover {
            color: $text-secondary;
          }
        }
      }
    }
  }
}
///////////////////////////////FOOTER///////////////////////////
#footer {
  // position: fixed;
  // bottom: 0;
  width: 98vw;
  p {
    color: $text-primary;
    font-size: 0.8rem;
  }
  background-color: transparent;
  @include flex(space-between, center);
  flex-direction: row;
  color: white;
  // margin: 2%;
  .social-media {
    // padding: 2%;
    margin-left: 2%;
    @include flex(center, center);
    flex-direction: row;
    gap: 15%;
    p {
      padding: 20%;
      color: $text-primary;
      font-size: 0.8rem;
    }

    a {
      color: $text-primary;
    }
  }
}
///////////////////////////////////////////ALL USERS//////////////////////////////////////////////
#notFound {
  margin-top: 10%;
  width: 50%;
  font-size: 2rem;
  color: $text-primary;
}
#profile,
#edit,
#users,
#fav,
#myprofile {
  background-color: $backround;
  // height: 100vh;
  // width: 100vw;
  // padding: 0, 20%;
  // display: grid;
  // grid-template-columns: 15% 75%;
  @include flex(flex-start, center);
  flex-direction: column;
  // .sidebar {
  //   position: fixed;
  //   left: 0;
  //   // height: 100vh;
  //   width: 20%;
  //   @include margin-top;
  //   // @include flex(flex-start,center);
  //   // flex-direction: column;
  //   #side {
  //     margin-top: 10%;
  //     margin-left: 10%;

  //     li {
  //       margin-bottom: 5%;
  //       // font-size: larger;
  //       a {
  //         color: $text-primary;
  //         &:hover {
  //           color: $text-secondary;
  //         }
  //       }
  //     }
  //   }
  // }
  .main {
    width: 85%;
    margin-left: 15%;
    // background-color: white;
    //  margin-top:16vh;
    //  @include margin-top;
  }
}
#usersmain {
  // @include margin-top;
  margin-top: 13vh;
  display: grid;
  grid-template-columns: 81% 19%;

  #allusers {
    width: 100%;
    background-color: white;
    @include flex(center, center);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 0;
  }
}

.user {
  background-color: white;

  width: 23%;
  border-radius: 2%;
  // height: 10%;
  box-shadow: rgba(68, 45, 182, 0.35) 0px 5px 10px;
  @include flex(flex-start, center);
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  &:hover {
    transform: scale(1.05);
  }
  .profileimg {
    // width: 40%;
    @include flex(center, center);
    margin-bottom: 5%;
    img {
      width: 100%;
      height: 9rem;
    }
  }
}
.flex-row {
  @include flex(center, center);
  flex-direction: column;
  gap: 8%;
  margin-bottom: 8%;
}

.flex-column {
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 5%;
}

.language-flex {
  @include flex(center, center);
  flex-direction: column;
  gap: 0.4rem;
  // margin-bottom:8%;
  // background-color: rgb(159, 26, 26);
}
.language {
  font-size: 0.8rem;
  text-shadow: #4891be;
  font-weight: bold;
}
.name {
  font-size: 0.8rem;
}
.city {
  font-size: 0.7rem;
}
.chatbtn {
  padding: 20% 40%;
  background-color: $text-primary;
  border: none;
  border-radius: 10%;
  margin: 15% 0;
  color: white;
  font-size: 1.1rem;
  &:hover {
    background-color: $text-secondary;
  }
}
.btnoptions {
  @include flex(center, center);
  flex-direction: row;
  gap: 80%;
}

.favicon {
  color: $backround;
  size: 20rem;
}
//////////////////////////////////////////////USER PROFILE//////////////////////////////////////////////////////////
#userProfile {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  height: 90vh;
}

#userData {
  width: 40%;
  @include flex(center, flex-start);
  flex-direction: column;
  margin: 2% 10%;
  padding: 7%;
  color: $text-primary;
  .flex-row {
    @include flex(space-between, center);
    flex-direction: row;
  }
  .profileimg {
    @include flex(center, center);
    width: 70%;
  }
  img {
    width: 100%;
    border-radius: 5%;
    box-shadow: $box-shadow;
  }
  .name {
    // color: white;
    // text-shadow: $box-shadow;
    font-size: 1.1rem;
    margin-bottom: 5%;
    font-weight: bold;
  }
  .city {
    // color: white;
    // text-shadow: $box-shadow;
    font-size: 1rem;
    // padding: 5%;
  }

  .language {
    // color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 2%;
    // font-weight: normal;
  }
  .favbtn {
    padding: 10%;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 8%;
  width: 10%;
  @include margin-top;

  #side {
    margin-left: 10%;
    width: 100%;
    @include flex(flex-start, center);
    flex-direction: column;
    li {
      margin-bottom: 10%;
      // line-height: 1.6rem;
      a {
        font-size: 1.1rem;
        color: $text-primary;
        &:hover {
          color: $text-secondary;
        }
      }
    }
  }
}
///////////////////////////////////////////////////////////////////FILTERS/////////////////////////////////////////
#filters {
  position: fixed;
  top: 25;
  right: 0;
}
.filters {
  .nativeFilter,
  .practicingFilter {
    padding: 8%;
    margin: 10%;
    font-size: 0.8rem;
    color: $text-primary;
    font-weight: bolder;
  }
  .ul {
    margin: 6%;

    li {
      margin: 5% 0;
    }
  }
}
////////////////////////////////////////////////////////////////myprofile

#profile {
  @include flex(flex-start, center);
  width: 100vw;
  // height: 100vh;

  #myprofile {
    width: 90%;
    margin: 8% 10%;
    padding: 1%;

    @include flex(flex-start, stretch);
    flex-direction: column;
    #profileData {
      // background-color: #125d8b;
      padding-right: 2%;
      @include flex(space-between, center);
      flex-direction: row;
      .w {
        color: white;
        font-size: 1.5rem;
        .l {
          color: $text-primary;
        }
        .ch {
          color: $text-secondary;
        }
      }
      .profileimg {
        @include flex(center, center);
        width: 15%;
        margin-left: 7%;
      }
      img {
        width: 100%;
        border-radius: 5%;
        box-shadow: $box-shadow;
      }
      .name {
        @include flex(center, center);
        flex-direction: column;
        color: white;
        margin-bottom: 17%;
        font-size: 2.5em;
        .n {
          font-weight: bold;
          color: $text-primary;
          line-height: 2em;
          font-size: 1.5rem;
        }
        .l {
          font-size: 1rem;
          color: $text-secondary;
          font-weight: bold;
        }
      }
    }
  }
  #fav {
    // background-color: #125d8b;
    .fav {
      // background-color: yellow;
      @include flex(center, stretch);
      flex-direction: row;
      width: 90vw;
      margin: 0 10%;

      .mainFav {
        // background-color: red;
        width: 100%;
        // height: 20%;
        @include flex(center, center);
        flex-direction: column;

        h3 {
          color: white;
          font-size: 2rem;
        }

        .favourites {
          color: white;
          margin-top: 10%;
          font-size: 1.5rem;
          text-shadow: $box-shadow;
          font-weight: bold;
          a {
            // font-weight: bold;
            color: $text-secondary;

            font-weight: bold;
            &:hover {
              color: $text-primary;
            }
          }
        }
      }

      #favourites {
        width: 100%;
        // background-color: white;
        @include flex(center, center);
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1% 0;

        .removeFav {
          padding: 15% 20%;
          background-color: darkred;
          border: none;
          border-radius: 10%;
          margin: 15% 0;
          color: white;
          font-size: 0.6rem;
          &:hover {
            background-color: red;
          }
        }
      }
      .sideb {
        // background-color: black;
        width: 20%;
        margin-left: 6%;
        padding: 1%;
        ul {
          @include flex(center, flex-start);
          flex-direction: column;
          li {
            font-size: 1rem;

            line-height: 1.6rem;
            a {
              // text-decoration: none;
              color: $text-primary;
            }
          }
        }
      }
    }
  }
  #myProfileMain {
    height: 100%;
    width: 100%;
    @include flex(center, center);
    flex-direction: row;
  }
}
/////////////////////////////////////////////////////////////CHAT//////////////////////////////
.chat {
  width: 40%;
  height: 70%;
  background-color: white;
  border: solid 1px $text-primary;
  position: fixed;
  bottom: 5%;
  right: 6%;
}

//////////////////////////////////////////////////EDIT///////////////////////////////////
.mainEdit {
  color: $text-primary;
  font-weight: bolder;
  width: 60vw;
  height: 60vh;
  // background-color: blue;
  margin-top: 20%;
  padding: 2%;
  @include flex(center, center);
  flex-direction: row;
  
  gap: 5%;
  .editPhoto {
    height: 100%;
    // background-color: red;
    width: 60%;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    flex-wrap: wrap;

    img {
      width: 90%;
    }
  }

  .editData {
    width: 100%;
    // background-color: orange;
    @include flex(space-between, flex-end);
    flex-direction: column;
    // padding: 5%;
    .formDiv {
      @include flex(space-between, flex-end);

      margin-bottom: 4%;
    }
  }

  button {
    color: white;
    padding: 3%;
    background-color: $text-primary;
    border: none;
    border-radius: 10%;
    margin-top: 7%;
    &:hover {
      background-color: $text-secondary;
    }
  }
  .button {
    color: white;
    margin-top: 15%;
    padding: 3%;
    background-color: darkred;
    border: none;
    border-radius: 10%;

    &:hover {
      background-color: red;
    }
  }
}
