$box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
$backround: #e3cff2;
$text-primary: #134c70;
$text-secondary: #2ba5e6;

@mixin flex($jus, $al) {
  display: flex;
  justify-content: $jus;
  align-items: $al;
}

@mixin margin-top {
  margin-top: 8vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFont;
  src: url(../public/Montserrat-Regular.ttf);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

html,
body {
  font-family: myFont;
  background-color: $backround;
  scroll-behavior: smooth;
}
#notFound {
  height: 70vh;
  @include flex(center, center);
  margin: 0 auto;
  .notFound {
    img {
      // position: fixed;
      // left:25%;
      // height: 70vh;
      width: 100%;
    }
  }
}
// .notFound {
//   height: 30%;
// }
.hide {
  display: none;
}
///////////////////////HEADER//////////////////////////////////////////////////
#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 16vh;
  padding: 0.5% 0;
  @include flex(space-around, center);
  flex-direction: row;
  .logo {
    height: 100%;
    @include flex(space-around, center);
    .l {
      color: $text-primary;
      margin-left: 4%;
    }
    .ch {
      color: $text-secondary;
    }
    img {
      border-radius: 50%;
      height: 90%;
    }
  }
  .nav {
    color: $text-secondary;
    font-weight: bold;
    width: 30%;
    @include flex(space-around, center);
    li a {
      color: $text-primary;
      font-weight: bold;
      font-size: large;
      &:hover {
        color: $text-secondary;
      }
    }
  }
  #navgap {
    gap: 13%;
  }
  h1 {
    font-size: 3.5rem;
  }
}
//////////////////////////////////////////////MAIN////////////////////////////////
#main {
  background-color: $backround;
  @include flex(flex-start, center);
  flex-direction: column;
  margin-top: 10vh;
  color: $text-primary;
  #proverb {
    color: $text-secondary;
    margin-top: 8%;
    @include flex(center, center);
    flex-direction: column;
    .proverb {
      font-style: italic;
      margin-bottom: 1%;
      overflow: hidden;
      white-space: nowrap;
      // width: 0;
      animation: typing;
      animation-duration: 1.8s;
      animation-timing-function: steps(30, end);
      animation-fill-mode: forwards;
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    h4 {
      font-style: italic;
      font-weight: normal;
    }
  }
  .sections {
    @include flex(flex-start, center);
    flex-direction: column;
    width: 80%;
    height: 100rem;

    p {
      text-shadow: 0.2px 0.2px rgb(81, 78, 78);
      line-height: 3.2rem;
      font-style: italic;
    }
    .section {
      @include flex(center, center);
      flex-direction: row;
      padding: 3%;
      width: 100%;
      height: 30%;
      gap: 5%;

      .img {
        @include flex(center, center);
        width: 100%;
        height: 100%;
      }
      img {
        box-shadow: $box-shadow;
        width: 100%;
        height: 60%;
        border-radius: 5%;
      }
      .paraf {
        height: 100%;
        @include flex(center, center);
        padding: 10%;
        font-size: 1.3rem;
        .l {
          color: $text-primary;
          font-weight: bold;
        }
        .ch {
          color: $text-secondary;
          font-weight: bold;
        }
      }
    }
  }
}
///////////////////////////////////////REGISTER//////////////////////////////////
#register {
  background-color: $backround;
  // height: 100vh;
  @include flex(center, center);

  .form {
    @include margin-top;
    form {
      color: $text-primary;
      box-shadow: $box-shadow;
      padding: 5% 30%;
      background-color: white;
      border: 1px solid $text-primary;
      @include flex(center, center);
      gap: 1rem;
      flex-direction: column;
      border-radius: 3%;
      .error {
        display: none;
        color: red;
      }
      .errorM {
        color: red;
        font-size: 0.8rem;
      }
      .inputAll {
        gap: 15%;
        @include flex(center, center);
        flex-direction: row;
      }
      .input {
        @include flex(center, flex-end);
        flex-direction: column;
      }

      .formDiv {
        @include flex(center, center);
        margin: 6%;
        gap: 7%;
        input {
          height: 1.9rem;
          border-radius: 5%;
          border: 1px solid $text-primary;
        }
      }
      .submit {
        background-color: $text-primary;
        border: none;
        border-radius: 15%;
        padding: 10%;
        width: 5rem;
        height: 3rem;
        color: white;
        margin: 10%;
        &:hover {
          background-color: $text-secondary;
        }
      }
      a {
        .ch {
          color: $text-secondary;
        }
        .l {
          color: $text-primary;
          &:hover {
            color: $text-secondary;
          }
        }
      }
    }
  }
}
/////////////////////////////////////////LOGIN////////////////////////////////////
#login {
  background-color: $backround;
  height: 100vh;
  @include flex(center, center);
  .form {
    @include flex(center, center);
    @include margin-top;
    form {
      color: $text-primary;
      box-shadow: $box-shadow;
      padding: 20% 30%;
      background-color: white;
      border: 1px solid $text-primary;
      @include flex(center, center);
      flex-direction: column;
      border-radius: 3%;
      .error {
        display: none;
        color: red;
      }
      .inputAll {
        @include flex(center, center);
      }
      .input {
        @include flex(center, flex-end);
        flex-direction: column;
      }
      h2 {
        margin-bottom: 20%;
      }
      .formDiv {
        @include flex(center, center);
        margin: 6%;
        gap: 7%;
        input {
          height: 1.9rem;
          border-radius: 5%;
          border: 1px solid $text-primary;
        }
      }
      .submit {
        background-color: $text-primary;
        border: none;
        border-radius: 15%;
        padding: 10%;
        width: 5rem;
        height: 3rem;
        color: white;
        margin: 25%;
        &:hover {
          background-color: $text-secondary;
        }
      }
      a {
        .ch {
          color: $text-secondary;
        }

        .l {
          color: $text-primary;
          &:hover {
            color: $text-secondary;
          }
        }
      }
    }
  }
}
///////////////////////////////FOOTER///////////////////////////
#footer {
  width: 98vw;
  p {
    color: $text-primary;
    font-size: 0.8rem;
  }
  background-color: transparent;
  @include flex(space-between, center);
  flex-direction: row;
  color: white;
  .social-media {
    margin-left: 2%;
    @include flex(center, center);
    flex-direction: row;
    gap: 15%;
    p {
      padding: 20%;
      color: $text-primary;
      font-size: 0.8rem;
    }
    a {
      color: $text-primary;
    }
  }
}
///////////////////////////////////////////ALL USERS//////////////////////////////////////////////
#notFound {
  margin-top: 10%;
  width: 50%;
  font-size: 2rem;
  color: $text-primary;
}
#sideImg {
  width: 50%;
  height: 50%;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
#profile,
#edit,
#users,
#fav,
#myprofile {
  background-color: $backround;
  @include flex(flex-start, center);
  flex-direction: column;

  .main {
    width: 85%;
    margin-left: 15%;
  }
}
#usersmain {
  margin-top: 13vh;
  display: grid;
  grid-template-columns: 81% 19%;

  #allusers {
    color: $text-primary;
    width: 100%;
    background-color: white;
    @include flex(center, center);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 0;
  }
}

.user {
  background-color: white;

  width: 23%;
  border-radius: 2%;
  box-shadow: rgba(68, 45, 182, 0.35) 0px 5px 10px;
  @include flex(flex-start, center);
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  &:hover {
    transform: scale(1.05);
  }
  .profileimg {
    @include flex(center, center);
    margin-bottom: 5%;
    img {
      width: 100%;
      height: 9rem;
    }
  }
}
.flex-row {
  @include flex(center, center);
  flex-direction: column;
  gap: 8%;
  margin-bottom: 8%;
}

.flex-column {
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 5%;
}

.language-flex {
  @include flex(center, center);
  flex-direction: column;
  gap: 0.4rem;
}
.language {
  font-size: 0.8rem;
  text-shadow: #4891be;
  font-weight: bold;
}
.name {
  font-size: 0.8rem;
}
.city {
  font-size: 0.7rem;
}
.chatbtn {
  padding: 20% 40%;
  background-color: $text-primary;
  border: none;
  border-radius: 10%;
  margin: 15% 0;
  color: white;
  font-size: 1.1rem;
  &:hover {
    background-color: $text-secondary;
  }
}
.btnoptions {
  @include flex(center, center);
  flex-direction: row;
  gap: 80%;
}

.favicon {
  color: $backround;
  size: 20rem;
}
//////////////////////////////////////////////USER PROFILE//////////////////////////////////////////////////////////
#userProfile {
  @include flex(flex-start, flex-start);
  flex-direction: column;
}

#userData {
  width: 40%;
  @include flex(center, flex-start);
  flex-direction: column;
  margin: 8% 15%;
  padding: 2%;
  color: $text-primary;
  .flex-column {
    @include flex(space-between, flex-start);
  }
  .flex-row {
    @include flex(space-between, center);
    flex-direction: row;
  }
  .profileimg {
    @include flex(center, center);
    width: 70%;
  }
  img {
    width: 100%;
    border-radius: 5%;
    box-shadow: $box-shadow;
  }
  .name {
    font-size: 1.1rem;
    margin-bottom: 5%;
    font-weight: bold;
  }
  .city {
    font-size: 1rem;
  }

  .language {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 2%;
  }
  .favbtn {
    padding: 10%;
  }
  .removeFav,
  .addFav {
    margin-top: 10%;
    padding: 5%;
    color: white;
    border: none;
    border-radius: 5%;
    background-color: $text-primary;
    &:hover {
      background-color: $text-secondary;
    }
  }
  .addFav {
    background-color: $text-secondary;
    &:hover {
      background-color: $text-primary;
    }
  }
}

.sidebar {
  h4 {
    color: $text-secondary;
    font-size: 1.1rem;
  }
  position: fixed;
  left: 1%;
  top: 6%;
  width: 20%;
  @include margin-top;
  @include flex(center, flex-start);
  flex-direction: column;
  color: $text-primary;
  font-weight: bold;
}
///////////////////////////////////////////////////////////////////FILTERS/////////////////////////////////////////
#filters {
  position: fixed;
  top: 25;
  right: 0;
  width: 20%;
}
.filters {
  .nativeFilter,
  .practicingFilter {
    padding: 10%;
    margin: 10%;
    font-size: 0.8rem;
    color: $text-primary;
    font-weight: bolder;
  }
  .ul {
    margin: 6%;
    li {
      margin: 5% 0;
    }
  }
}
////////////////////////////////////////////////////////////////myprofile

#profile {
  margin-top: 5%;
  @include flex(center, center);
  width: 97%;
  #myprofile {
    margin-left: 3%;
    @include flex(center, flex-start);
    flex-direction: row;

    #profileData {
      @include flex(center, center);
      flex-direction: column;

      .myChats {
        font-weight: bold;
        font-size: 1.3rem;
        color: $text-secondary;
      }

      .name {
        @include flex(center, center);
        flex-direction: column;
        color: white;
        margin: 20% 0;
        font-size: 2.5em;
        width: 55%;
        .profileimg {
          width: 60%;
          img {
            width: 100%;
            border-radius: 5%;
            box-shadow: $box-shadow;
          }
        }
        .n {
          font-weight: bold;
          color: $text-primary;
          line-height: 2em;
          font-size: 1.5rem;
        }
        .l {
          font-size: 1rem;
          color: $text-primary;
          font-weight: bold;
        }
      }
      #edit {
        font-size: 1rem;
        margin-top: 10%;
        a {
          color: $text-primary;
          text-decoration: underline;
        }
        a:hover {
          color: $text-secondary;
        }
      }
    }
  }
  //////////////////////////////////////FAVOURITES///////////////////////////////
  #fav {
    .fav {
      @include flex(center, stretch);
      flex-direction: row;
      width: 60vw;
      .mainFav {
        width: 100%;
        @include flex(center, center);
        flex-direction: column;
        h3 {
          color: white;
          font-size: 2rem;
        }
        .favourites {
          color: white;
          margin-top: 10%;
          font-size: 1.5rem;
          text-shadow: $box-shadow;
          font-weight: bold;
          a {
            color: $text-secondary;
            font-weight: bold;
            &:hover {
              color: $text-primary;
            }
          }
        }
      }

      #favourites {
        width: 100%;
        @include flex(center, center);
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1% 0;

        .removeFav {
          padding: 15% 20%;
          background-color: darkred;
          border: none;
          border-radius: 10%;
          margin: 15% 0;
          color: white;
          font-size: 0.6rem;
          &:hover {
            background-color: red;
          }
        }
      }
      .user {
        color: $text-primary;
      }
    }
  }
  #myProfileMain {
    height: 100%;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    margin-top: 7%;
  }
  .w {
    width: 30%;
    margin-bottom: 5%;
    color: white;
    font-size: 1.5rem;
  }
  .l {
    color: $text-primary;
  }
  .ch {
    color: $text-secondary;
  }
}

.sideb {
  width: 100%;
  margin-top: 15%;
  @include flex(center, center);
  flex-direction: column;
  ul {
    @include flex(center, flex-start);
    flex-direction: column;
    margin-top: 10%;
    font-weight: normal;
    padding: 3%;
    font-size: 0.9rem;
  }
}
//////////////////////////////////////////////////EDIT///////////////////////////////////
.mainEdit {
  color: $text-primary;
  font-weight: bolder;
  width: 65vw;
  height: 70vh;
  margin-top: 15%;
  padding: 2%;
  @include flex(center, center);
  flex-direction: row;

  gap: 2%;
  .editPhoto {
    height: 100%;
    width: 60%;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    flex-wrap: wrap;

    img {
      width: 90%;
    }
  }

  .editData {
    width: 120%;
    @include flex(space-between, flex-end);
    flex-direction: column;
    .formDiv {
      @include flex(space-between, flex-end);

      margin-bottom: 4%;
    }
  }
  .submit {
    padding: 20%;
  }
  button {
    color: white;
    padding: 3%;
    background-color: $text-primary;
    border: none;
    border-radius: 5px;
    margin-top: 7%;
    &:hover {
      background-color: $text-secondary;
    }
  }
  .button {
    color: white;
    margin-top: 15%;
    padding: 3%;
    background-color: darkred;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: red;
    }
  }
}

/////////////////////////////////////////////////////////////CHAT//////////////////////////////
.chat {
  width: 40%;
  height: 75%;
  background-color: white;
  border: solid 1px $text-primary;
  position: fixed;
  bottom: 5%;
  right: 6%;
  @include flex(center, center);
  flex-direction: column;
}

#chatroom {
  position: absolute;
  font-size: 0.9rem;
  padding-bottom: 15%;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 100%;
  height: 100%;
  .message-outgoing {
    width: 50%;
    text-align: right;
    background-color: $text-secondary;
    float: right;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 1%;
    margin: 2% 4%;
    border-radius: 15px;
  }
  .message-incoming {
    width: 50%;
    overflow: hidden;
    background-color: $text-primary;
    float: left;
    flex-direction: column;
    position: relative;
    padding: 1%;
    margin: 2% 4%;
    border-radius: 15px;
  }

  .messageP {
    margin: 2%;
  }
  #feedback {
    position: fixed;
    bottom: 11%;
    float: left;
  }
}
#input_zone {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7%;
  @include flex(center, center);
  flex-direction: row;
  #message {
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }
  #send_message {
    height: 100%;
    font-size: 0.7rem;
  }
}
.chatWith {
  @include flex(center, center);
  width: 100%;
  background-color: $text-secondary;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin: 7% 0;

  a {
    color: white;
    padding: 5%;
  }
  &:hover {
    background-color: $text-primary;
    transform: scale(1.05);
  }
}
#emptyDiv {
  color: $text-secondary;
  font-weight: bold;
  margin-top: 10%;
  width: 50%;
}
.myChatsProfile {
  background-color: white;
  padding: 3%;
  border-radius: 5%;
}

